html,
body,
* {
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

.app-image {
  width: 350px;
  height: 300px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}
.app-image__container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.app-main__header {
  background-color: #7952b3;
  color: white;
}
.app-main__option {
  margin-right: 15px;
}
.app-main__section {
  padding: 50px;
}
.app-main__section:nth-child(even) {
  background-color: #ee4c83;
  color: white;
}
.app-main__section:nth-child(odd) {
  background-color: #e6e6ff;
}
.app-main__section-title {
  padding: 15px;
  padding-top: 30px;
}